[Unit]
Description=USBSentinel USB Analysis & Prevention Framework
After=network.target systemd-udevd.service

[Service]
Type=simple
User=root
WorkingDirectory=/home/dhvanil/USBSentinel
ExecStart=/home/dhvanil/USBSentinel/venv/bin/python3 core/sentinel_monitor.py
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
